@import "tailwindcss";



/* Add in your index.css or use inline style tag in component */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: slide 30s linear infinite;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}
